<h1>Customers</h1>
<hr />

<table width = "600" cellpadding = "6" cellspacing = "5" bgcolor = "lightyellow">
  <thead>
    <td><b><u>Customer</u></b></td>
    <td><b><u>Account No.</u></b></td>
    <td><b><u>Customer Website</u></b></td>
  </thead>

  <tbody>
    <tr>
      <td> <%= @customer.name %> </td>
      <td> <%= @customer.account_no %> </td>
      <td><a href="<%@customer.website%>"> <%= @customer.website %></a></td>
    </tr>
  </tbody>

</table>